@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./mixin.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 6px;

  @include ssm {
    font-size: 6px;
  }
  @include sm {
    font-size: 7px;
  }
  @include md {
    font-size: 8px;
  }
  @include lg {
    font-size: 9px;
  }
  @include xl {
    font-size: 10px;
  }
  @include xxl {
    font-size: 12px;
  }
}

.shadow-custom {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.lg-custom-grid {
  @include lg {
    grid-template-columns: repeat(5, minmax(30em, 1fr));
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
